<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h2>Hi {{.First}} {{.Last}}</h2>
<p>
  Your username is {{.UserName}}, and your password is {{.Password}}
</p>


</body>
</html>
